.grid {
  display: flex;
  gap: 50px;
}

.gridItem {
  width: 50%;
}

input,
textarea {
  width: 100%;
  height: 30px;
  padding: 10px;
}

textarea {
  height: 200px;
}

.card {
  background: rgb(89, 168, 168);
  font-weight: bold;
  color: white;
  min-width: 250px;
  max-width: 300px;
  padding: 10px;
}
